@charset "utf-8";@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,900);@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);a:hover,
a:active,
a:focus{text-decoration:none;outline:none;}
.clear-fix:before,
.clear-fix:after{display:table;content:" ";}
.clear-fix:after{clear:both;}
body{font-family:'Roboto', sans-serif;}
h1,
h2,
h3,
h4,
h5,
h6{font-family:'Raleway', sans-serif;margin:0px;}
#banner_wrap{width:100%;height:650px;}
.banner_links{margin-top:100px;}
.banner_links a{display:block;float:left;width:230px;height:230px;-moz-transition:all 0.2s ease-out;-webkit-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;transition:all 0.2s ease-out;box-sizing:border-box;border:1px solid rgba(255, 255, 255, 0.5);background-color:rgba(0, 0, 0, 0.3);text-align:center;color:#FFF;position:relative;}
.banner_links a h3{text-transform:uppercase;font-size:26px;font-weight:900;margin:10px 0px 0px 0px;}
.banner_link_content{position:relative;z-index:999;-moz-transition:all 0.2s ease-out;-webkit-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;transition:all 0.2s ease-out;}
.banner_link_content img{margin-top:50px;}
span.anim_border{position:absolute;-moz-transition:all 0.6s ease-out;-webkit-transition:all 0.6s ease-out;-o-transition:all 0.6s ease-out;transition:all 0.6s ease-out;opacity:1;z-index:99;background-color:#000;}
span.anim_border_top{width:0px;height:50%;left:0px;top:0px;}
span.anim_border_right{width:50%;height:0px;right:0px;top:0px;}
span.anim_border_bottom{width:0px;height:50%;bottom:0px;right:0px;}
span.anim_border_left{width:50%;height:0px;bottom:0px;left:0px;}
.banner_links a:hover span.anim_border_top{width:100%;opacity:0;background-color:#009fe2;}
.banner_links a:hover span.anim_border_right{height:100%;opacity:0;background-color:#009fe2;}
.banner_links a:hover span.anim_border_bottom{width:100%;opacity:0;background-color:#009fe2;}
.banner_links a:hover span.anim_border_left{height:100%;opacity:0;background-color:#009fe2;}
.text_rotator_wrap{color:#FFF;margin-left:250px;margin-top:-180px;}
.text_rotator_wrap h5{font-size:15px;text-transform:uppercase;}
.text_rotator_wrap h3{text-transform:uppercase;font-size:30px;font-weight:900;margin-top:14px;}
.rotator{color:#ff731e;}
.rotator_border{width:260px;height:1px;background-color:#FFF;margin-top:20px;}
.header{background-color:#000;position:relative;}
.logo{float:left;position:absolute;width:200px;height:100%;}
.logo a{display:block;-moz-transition:all 0.2s ease-out;-webkit-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;transition:all 0.2s ease-out;background-color:#FFF;text-align:center;padding:25px 0px 5px 0px;position:absolute;left:0px;bottom:0px;width:100%;}
.nav_wrap{float:right;}
.navigation{margin:0px;padding:0px;}
.navigation > li{float:left;list-style:none;padding:20px 0px;}
.navigation > li > a{display:inline-block;color:#FFF;text-transform:uppercase;font-weight:500;padding:7px 15px;border-bottom:2px solid transparent;-moz-transition:all 0.2s ease-out;-webkit-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;transition:all 0.2s ease-out;position:relative;}
.navigation > li > a:hover{color:#f58220;}
.nav_border{position:absolute;background-color:#f58220;-moz-transition:all 0.2s ease-out;-webkit-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;transition:all 0.2s ease-out;}
.nav_border_top{top:0px;left:0px;width:0px;height:2px;}
.nav_border_right{top:0px;right:0px;width:2px;height:0px;}
.nav_border_bottom{bottom:0px;right:0px;width:0px;height:2px;}
.nav_border_left{bottom:0px;left:0px;width:2px;height:0px;}
.navigation > li > a:hover .nav_border_top{width:100%;}
.navigation > li > a:hover .nav_border_right{height:100%;}
.navigation > li > a:hover .nav_border_bottom{width:100%;}
.navigation > li > a:hover .nav_border_left{height:100%;}
.navigation > li > a.active{color:#f58220;}
.navigation > li > a.active .nav_border_top{width:100%;}
.navigation > li > a.active .nav_border_right{height:100%;}
.navigation > li > a.active .nav_border_bottom{width:100%;}
.navigation > li > a.active .nav_border_left{height:100%;}
.welcome_wrap{margin-top:60px;}
.welcome_img{position:relative;}
.welcome_img img{max-width:100%;}
.wel_img_text{position:absolute;left:0;bottom:0;width:100%;padding:0px 15px 10px 15px;}
.wel_img_text h4{font-size:24px;font-weight:300;text-transform:uppercase;color:#FFF;}
.wel_img_text h4 span{font-weight:900;}
.welcome_text h4,
.welcome_text h2{color:#474747;}
.welcome_text h4{font-size:20px;font-weight:500;margin-bottom:7px;}
.welcome_text h2{font-size:30px;font-weight:900;text-transform:uppercase;margin-bottom:30px;}
.welcome_text p{font-size:17px;font-weight:300;}
.welcome_lnk{margin-top:30px;}
.welcome_lnk a{display:inline-block;padding:10px 20px;border:2px solid #dedede;color:#7b7b7b;-moz-transition:all 0.2s ease-out;-webkit-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;transition:all 0.2s ease-out;}
.welcome_lnk a:hover{background-color:#00aeef;color:#FFF;border-color:#00aeef;}
.home_our_team{}
.home_our_team_heading{}
.home_our_team_heading h2{font-size:25px;color:#4a4a4a;font-weight:600;padding:30px 0px;}
.home_our_team_heading h2 b{font-size:38px;text-transform:uppercase;font-weight:900;}
.slid_content{}
.slid_content p{font-size:21px;font-weight:400;}
.life_at_bodhi{padding:40px 0px;position:relative;}
.life_at_bodhi_box{position:absolute;width:676px;height:168px;background:rgba(0, 174, 240, 0.8);z-index:99999;left:50%;top:50%;margin-left:-338px;margin-top:-84px;}
.pattern{background:url("images/pattern.png");width:100%;height:100%;opacity:0.4;filter:alpha(opacity=40);}
.life_at_bodhi_box h2{position:absolute;text-align:center;color:#fff;opacity:1;z-index:99999999;top:30px;left:50%;margin-left:-120px;font-size:44px;font-weight:300;border-bottom:1px solid #f4f4f4;padding-bottom:10px;}
.life_at_bodhi_box h4{position:absolute;text-align:center;color:#fff;opacity:1;z-index:99999999;top:100px;left:50%;margin-left:-90px;font-size:16px;font-weight:600;border-bottom:1px solid #f4f4f4;padding-bottom:10px;}
.home_blog_heading h2{font-size:25px;color:#4a4a4a;font-weight:600;padding:30px 0px;}
.home_blog_heading h2 b{font-size:38px;text-transform:uppercase;font-weight:900;}
.home_blog_main .main_post_heading h2{color:#8f8f8f;}
.home_blog_main .main_post_heading h2:hover{color:#009ef0;}
.home_blog_main img{max-width:100%;padding-bottom:20px;}
.home_blog_recent{display:inline-block;padding-bottom:30px;}
.home_blog_rec_img{width:40%;float:left;}
.home_blog_rec_img img{max-width:100%;}
.home_blog_recent .recent_post_temp_content{float:left;width:60%;}
.home_blog_recent .recent_post_temp_content h5{font-size:21px;font-weight:900;}
.home_blog_recent .recent_post_temp_content .blue_line{display:block;width:120px;height:5px;background:#009ef0;margin-bottom:10px;margin-top:15px;-o-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-webkit-transition:all 0.2s ease-out;transition:all 0.2s ease-out;}
footer{padding:70px 0px;padding-bottom:0;margin-top:50px;background:url('images/footer_bg.jpg') center;background-size:cover;}
.footer_col1{padding:55px 0px;padding-left:20px;display:inline-block;}
.footer_logo{}
.footer_social{margin-top:15px;}
.footer_social a{}
.footer_social a span{width:35px;height:35px;border:2px solid #99a5ab;border-radius:100px;display:inline-block;text-align:center;color:#99a5ab;margin:0px 5px;}
.footer_social a span:hover{color:#fff;background:#ff731e;border-color:#ff731e;transition-property:background;transition-duration:0.3s;transition-timing-function:linear;}
.footer_social a span i{line-height:35px;}
.footer_col2{text-align:center;border-right:2px solid #99a5ab;border-left:2px solid #99a5ab;}
.footer_projection{}
.footer_projection li{list-style:none;padding:25px 0px;}
.footer_projection li .head_for_footer{color:#ff731e;font-size:41px;font-family:'Roboto';font-weight:600;}
.footer_projection .footer_sub_head{font-family:'Roboto';font-size:15px;color:#99a5ab;font-weight:400;padding-top:8px;}
.footer_contact{color:#99a5ab;padding:40px 0px;padding-left:50px;}
.footer_contact h4{font-size:16px;font-family:'Roboto';text-transform:uppercase;color:#fcfcfc;padding-bottom:10px;}
.footer_contact p{}
.footer_contact hr{border-top:1px solid #99a5ab;}
.footer_contact a{color:#99a5ab;}
.footer_contact a:hover{color:#ff731e;}
.footer_contact span{border:2px solid #99a5ab;border-radius:100px;display:inline-block;height:30px;width:30px;text-align:center;line-height:30px;font-size:18px;}
.footer_contact .number_row{font-size:26px;font-family:'Roboto';font-weight:700;padding-bottom:8px;}
.footer_contact .email_row{font-size:18px;font-family:'Roboto';font-weight:400;padding-bottom:8px;}
.footer_contact .email_row span{border:none;display:inline-block;height:30px;width:30px;text-align:center;line-height:30px;font-size:18px;}
.copy{text-align:center;color:#99a5ab;margin:0;padding:20px 0px;}
.about_banner_wrap{width:100%;background:url("images/about_ban_bg.jpg") center no-repeat;height:368px;}
.about_banner_wrap h2{font-size:33px;font-weight:900;text-transform:uppercase;margin-bottom:30px;color:#fff;padding-top:150px;margin-bottom:12px;}
.about_banner_wrap h4{font-size:19px;font-weight:300;text-transform:capitalize;color:#FFF;border-image:url(images/row_fade_bl.png) 1 0 1 0;border-top:1px;border-left:0px;border-right:0px;border-bottom:1px;border-image-outset:3;}
.company_projection_wrap{padding:15px 0px;}
.company_projection{text-align:center;border-right:1px solid #777;}
.company_projection li{list-style:none;padding-bottom:50px;}
.company_projection li h2{color:#4a4a4a;font-size:41px;font-family:'Roboto';font-weight:400;}
.company_projection h4{font-family:'Roboto';font-size:15px;color:#525252;font-weight:400;padding-top:8px;}
.company_wrap{padding:50px 0px;padding-bottom:0;}
.company_wrap hr{margin:70px 0px;}
.company_content{padding:50px 0px;padding-left:50px;}
.company_content h2{font-size:31px;font-weight:900;text-transform:uppercase;margin-bottom:30px;color:#474747;margin-bottom:20px;}
.company_content p{font-weight:300;font-size:14px;color:#000;}
.vision{padding-right:95px}
.vision .img{float:left;padding-right:30px;}
.vision h3{padding-top:25px;margin-bottom:15px;font-size:26px;font-weight:800;color:#474747;}
.vision p{}
.mision{}
.mision .img{float:left;padding-right:30px;padding-bottom:5px;}
.mision h3{padding-top:25px;margin-bottom:15px;font-size:26px;font-weight:800;color:#474747;}
.mision p{text-align:justify;}
.career_banner_wrap{width:100%;background:url("images/about_ban_bg.jpg") center no-repeat;height:368px;line-height:1.12241;}
.career_banner_wrap h2{font-size:33px;font-weight:900;text-transform:uppercase;margin-bottom:30px;color:#fff;padding-top:150px;margin-bottom:12px;}
.career_banner_wrap h4{font-size:19px;font-weight:300;text-transform:capitalize;color:#FFF;border-image:url(images/row_fade_bl.png) 1 0 1 0;border-top:1px;border-left:0px;border-right:0px;border-bottom:1px;border-image-outset:3;}
.career_wrap{padding-top:50px;}
.career_img{}
.career_img img{max-width:100%;}
.career_with_us{padding:30px 0px;padding-left:20px;}
.career_with_us h2{font-size:29px;font-weight:900;text-transform:uppercase;padding-bottom:30px;}
.career_with_us p{padding-bottom:30px;}
.career_with_us a{font-weight:700;color:#0a0a0a;padding:10px 20px;border:1px solid #d4d6d7;}
.career_with_us a:hover{background:#0863bd;transition:background 0.5s ease;color:#fff;font-weight:500;}
.job_open{font-size:20px;font-weight:900;padding-bottom:30px;}
.job_vacancy{padding:30px 0px;}
.job_title ul{padding:0;}
.job_title li{font-size:18px;padding-top:15px;color:#444;}
.job_description{border-left:1px solid #000;padding-left:30px;}
.job_description li{list-style:none;font-weight:500;font-family:'Roboto';color:#000;}
.apply_forum{}
.apply_forum h3{font-size:20px;font-weight:900;padding-bottom:30px;color:#444;}
.apply_forum input{width:80%;margin:20px auto;height:40px;display:list-item;width:100%;border:1px solid #dbdbdb;outline:none;}
.apply_forum input[type="text"]{padding-left:15px;}
.apply_forum input[type="email"]{padding-left:15px;}
.apply_forum textarea{margin:15px auto;height:100px;display:list-item;width:100%;border:1px solid #dbdbdb;outline:none;padding-left:15px;}
.apply_forum a{padding:10px 25px;background:#0a0a0a;color:#fff;}
div.upload{width:178px;height:44px;overflow:hidden;background:url('images/upload.png') center no-repeat;}
div.upload input{display:block !important;width:178px !important;height:44px !important;opacity:0 !important;overflow:hidden !important;}
.apply_forum button{margin-top:10PX;width:205px;height:60px;background:#0c6ab8;color:#fff;font-size:17px;border:solid #fff;outline:none;}
.contact_wrap{padding-top:50px;}
.contact_wrap h2{font-size:31px;font-weight:900;text-transform:uppercase;margin-bottom:30px;color:#474747;margin-bottom:15px;}
.contact_wrap p{color:#777777;}
.contact_addrs{padding:50px 0px;}
.call_icon{float:left;padding-right:15px;margin-top:10px;}
.contact_number{border-left:1px solid #007ab9;display:inline-block;padding-left:15px;}
.contact_number p{font-size:17px;margin:0;}
.contact_number a{font-size:26px;font-weight:bold;color:#777;margin:8px 0px;display:inline-block;}
.contact_number a:hover{color:#009fe2;transition:color 0.7s ease;}
.our_addrs{}
.our_addrs h4{font-size:18px;font-weight:bold;padding-bottom:20px;font-family:'Roboto';color:#777;}
.our_addrs p{font-size:17px;}
.follow_us{}
.follow_us h4{font-size:18px;font-weight:bold;padding-bottom:20px;font-family:'Roboto';color:#777;}
.follow_us a{font-size:17px;color:#777;}
.follow_us a:hover{color:#009fe2;transition:color 0.7s ease;}
.social{margin-top:15px;}
.social a{}
.social a span{width:30px;height:30px;border:2px solid #777;border-radius:100px;display:inline-block;text-align:center;color:#00aeef;margin-right:5px;}
.social a span:hover{color:#fff;background:#00aeef;border:none;transition-property:background;transition-duration:0.5s;transition-timing-function:linear;}
.social a span i{line-height:30px;}
.blk_map{position:relative;top:0;bottom:0;left:0;right:0;height:320px;}
#map{height:100%;}
#map div.gm-style-cc{display:none;}
.contact_form{padding:40px 0px;}
.contact_form input{width:80%;margin:20px auto;height:50px;display:list-item;width:100%;border:1px solid #dbdbdb;outline:none;border-radius:5px;}
.contact_form input[type="text"]{padding-left:15px;}
.contact_form input[type="email"]{padding-left:15px;}
.contact_form textarea{margin:20px auto;height:190px;display:list-item;width:100%;border:1px solid #dbdbdb;outline:none;padding-left:15px;padding-top:15px;}
.contact_form button{margin-top:10PX;width:150px;height:50px;background:#fff;border:2px solid #0c6ab8;color:#444;font-size:17px;outline:none;}
.contact_form button:hover{transition-property:all;transition-duration:0.5s;background:#0c6ab8;color:#fff;}
.product_wrap{padding-top:50px;}
.product_box{border:1px solid #777;padding:50px;margin-top:20px;}
.product_img{text-align:center;margin-top:30px;}
.product_img img{max-width:100%;}
.product_description{}
.product_logo{padding-bottom:15px;}
.product_description h5{font-weight:bold;font-size:15px;font-family:'Roboto';padding:20px 0px;}
.product_cat{float:left;}
.product_cat img{float:left;margin-right:10px;}
.product_cat p{color:#474747;font-size:15px;float:left;border-right:1px solid #c6c6c6;padding-right:30px;}
.product_description a{padding:10px 30px;border:1px solid #c6c6c6;display:inline-block;margin-left:30px;color:#474747;}
.ebzilon_des{margin-top:85px;}
.ent_nadu_des{margin-top:65px;}
.service_wrap{margin-top:50px;}
.service_wrap .row{}
.service_img{width:50%;float:left;}
.service_img img{max-width:100%;}
.service_description{width:50%;padding-top:50px;padding-left:30px;float:left;}
.service_description h3{font-size:25px;font-weight:900;color:#474747;padding:15px 0px;text-transform:uppercase;}
.clearfix{overflow:visible;}
.ser_des_row2{width:50%;padding-top:50px;padding-right:30px;padding-left:0;float:left;}
.social_wrap{margin-top:50px;}
.social_commit_img{width:45%;float:left;}
.social_commit_img img{max-width:100%;}
.about_social_commit{width:55%;background:#0c6ab8;padding:69px 40px;float:left;}
.about_social_commit p{font-size:17px;color:#fff;font-weight:300;margin:0;font-family:'Roboto';}
.social_commit_activity{padding-top:50px;}
.program_description{margin-top:60px;padding:0px 30px;}
.program_description h5{font-size:22px;font-family:'Roboto';padding:25px 0px;}
.program_description p{}
.social_image{width:50%;padding:5px 5px;float:left;}
.social_image img{max-width:100%;}
.portfolio_wrap{margin-top:50px;}
.portfolio_caption{text-align:center;}
.portfolio_caption h2{font-size:28px;font-weight:400;color:#373636;line-height:1.8056;padding-bottom:30px;}
.portfolio_caption b{font-weight:bold;color:#0863bd;}
.portfolio_row{display:table;}
.portfolio_col{width:50%;float:left;padding:0px -3px;}
.work_row{width:100%;}
.work_col{width:50%;float:left;}
.work_col img{max-width:100%;}
.work_col a{width:100%;height:100%;display:block;min-width:100%;clear:both;}
.work_col_big{width:100%;height:455px;}
.work_col_mid{height:449px;}
.work_col_small{height:225px;}
.work_col img{}
.blog_wrap{margin-top:50px;}
.blog_wrap hr{margin:40px 0px;}
.main_post_img{}
.main_post_img img{max-width:100%;}
.blog_row{padding-top:20px;display:inline-block;}
.main_post_date{text-align:center;float:left;padding-right:10px;border-right:3px solid #009ef0;min-width:80px;}
.main_post_date h2{font-weight:500;font-family:'Roboto';font-size:17px;text-transform:uppercase;color:#8f8f8f;line-height:22px;}
.main_post_date h2 span{color:#373636;}
.main_post_date h2 b{font-size:23px;}
.main_post_heading{margin-left:90px;}
.main_post_heading h2{font-size:27px;text-transform:uppercase;color:#009ef0;font-weight:900;line-height:1.3;}
.main_post_heading h2 a{font-size:27px;text-transform:uppercase;color:#009ef0;font-weight:900;line-height:1.3;}
.main_post_content{padding-bottom:30px;}
.main_post_content p{color:#777;line-height:1.8564;}
.more{height:20px;margin:0;font-weight:500;}
.more b{padding-left:10px;float:left;color:#535353;}
a .more b:hover{color:#009ef0;transition:color 0.7s ease;}
.more img{max-width:100%;float:left;}
.old_posts_img{width:50%;float:left;}
.old_posts_img img{max-width:100%;}
.old_posts_content{width:50%;padding-left:30px;float:left;color:#777;}
.old_posts_content h3{font-size:21px;font-weight:900;text-transform:uppercase;color:#8f8f8f;line-height:1.6546;}
.old_posts_content .blue_line{display:block;width:120px;height:5px;background:#009ef0;margin-bottom:10px;margin-top:15px;-o-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-webkit-transition:all 0.2s ease-out;transition:all 0.2s ease-out;}
.old_posts_content a h3:hover{color:#009ef0;transition:color 0.7s ease;}
.old_posts_content a:hover .blue_line{width:100%;}
.old_posts_content h4{color:#777;font-weight:400;font-family:'Roboto';padding-bottom:15px;font-size:1em;}
.old_posts_content p{}
.catgories{padding-left:50px;padding-bottom:50px;}
.catgories h3{font-size:20px;font-weight:900;color:#8f8f8f;text-transform:uppercase;padding-bottom:20px;}
.catgories ul{}
.catgories ul li{list-style:none;background:url('images/ul.png') left no-repeat;padding:3px 30px;}
.catgories ul li a{color:#000;}
.catgories ul li a:hover{color:#009ef0;transition:color 0.2s ease;}
.recent_posts hr{margin:10px 0px;}
.recent_posts h3{font-size:20px;font-weight:900;color:#8f8f8f;text-transform:uppercase;padding-bottom:20px;}
.recent_posts_box{display:inline-block;}
.recent_post_temp_img{float:left;width:30%;}
.recent_post_temp_img img{max-width:100%;}
.recent_post_temp_content{color:#8f8f8f;float:left;width:70%;padding-left:20px;}
.recent_post_temp_content h5{font-weight:700;font-size:14px;text-transform:uppercase;}
.recent_post_temp_content a{color:#8f8f8f;-moz-transition:all 0.2s ease-out;-webkit-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;transition:all 0.2s ease-out;}
.recent_post_temp_content a:hover{color:#009ef0;}
.recent_post_temp_content a:hover .blue_line{width:100%;}
.recent_post_temp_content p{margin:0;}
.team_wrap{margin-top:50px;}
.team_caption{text-align:center;}
.team_caption h2{font-size:28px;font-weight:400;color:#373636;line-height:1.8056;padding-bottom:30px;text-transform:uppercase;}
.team_caption b{font-weight:bold;color:#00aeef;}
.team_img img{width:100%;}
.team_details{position:relative;margin-top:-7px;width:100%;background:#00aeef;text-transform:uppercase;color:#fff;text-align:center;padding:10px 5px;z-index:999;}
.team_details a{color:#fff;}
.team_details h4{font-size:16px;font-weight:700}
.team_details p{margin:0;}
.social_overlay{position:absolute;height:110px;top:0;right:0;background:rgba(0, 174, 239, 0.5);opacity:0;-o-transition:all 0.2s ease-out;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;transition:all 0.2s ease-out;}
.social_overlay i{display:list-item;list-style:none;padding:15px 15px;font-size:22px;}
.social_overlay i a{padding:5px 5px;}
.team_details:hover .social_overlay{opacity:1;margin-top:-110px;}
.nav_trigger{display:none;font-size:23px;color:#00aeef;border:1px solid #00aeef;text-align:center;width:40px;height:35px;cursor:pointer;position:absolute;right:15px;top:75px;border-radius:3px;-o-transition:all 0.2s easer-out;-moz-transition:all 0.2s easer-out;-webkit-transition:all 0.2s easer-out;transition:all 0.2s easer-out;z-index:5000;background:#fcfcfc;line-height:35px;}
.nav_trigger:hover{color:#fff;border:1px solid #fff;background:#00aeef;}
.team_box{margin-top:15px;}
.qout_box{margin-top:30px;text-align:center;font-size:18px;padding:50px 0px;background:#f4f4f4;}
.qout_box p{margin:0;}
.social_one_pic img{max-width:100%;}
h4.job_nature_head{color:#000;margin:20px 0px 7px 0px;}
ul.job_nature > li{list-style:square;font-weight:400;}
.soc_auth{background-color:#f9f9f9;color:#333;padding:5px 15px;margin-top:20px;}
.soc_auth .soc a{display:inline-block;width:29px;height:29px;text-align:center;line-height:29px;border-radius:50%;color:#FFF;font-size:17px;}
.soc_auth .soc a.fb{background-color:#3b5998;}
.soc_auth .soc a.tw{background-color:#0084b4;}
.soc_auth .soc a.gp{background-color:#d34836;}
.soc_auth .auth i{color:#666;font-size:21px;vertical-align:text-bottom;}
@media only screen and (min-width:1200px){.team_details{min-height:105px;}
}
@media only screen and (min-width:992px) and (max-width:1199px){.navigation > li > a{padding:7px 5px;}
.team_details{min-height:105px;}
}
@media only screen and (min-width:768px) and (max-width:991px){.logo{position:static;float:none;}
.logo a{position:static;width:200px;}
.nav_wrap{float:none;}
ul.navigation > li > a{font-size:13px;padding:5px;color:#00aeef;}
.header{background:#fff;border-bottom:1px solid #00aeef;}
.team_details{min-height:130px;}
}
@media only screen and (max-width:767px){.footer_col_1_wrap{text-align:left;}
.company_projection{border-left:1px solid #777;}
.company_content{padding-left:0;padding-bottom:20px;}
.company_content p{text-align:justify;}
.company_wrap hr{margin:15px 0px;}
.vision{display:block;padding-right:10px;padding:15px 0px;text-align:center;}
.vision .img{float:none;padding-right:0;}
.vision .img img{max-width:100%;}
.vision p{display:inline-block;}
.mision{text-align:center;}
.mision .img{float:none;padding:0;}
.mision p{text-align:center;}
footer{padding:30px 0px;}
.footer_contact{padding-left:0;text-align:center;padding-bottom:0;}
.footer_contact .number_row{font-size:23px;}
.footer_col1{padding-left:0;}
.footer_logo{text-align:center;}
.footer_social{text-align:center;}
.copy{padding-bottom:0px;}
.product_box{padding:10px;}
.product_logo{text-align:center;}
.product_description h5{text-align:center;}
.product_description p{text-align:justify;}
.product_cat{float:right;}
.product_cat p{border:none;border-left:1px solid #c6c6c6;padding:0;padding-left:30px;}
.product_description a{margin:0;}
.career_with_us{padding-left:0;}
.career_with_us h2{font-size:26px;}
.job_open{padding-bottom:0;}
.job_vacancy{padding:15px 0px;}
.job_description{padding-top:25px;}
.teams{margin:0 auto;}
.main_post_content p{display:inline-block;padding-top:15px;}
.catgories{width:50%;float:left;padding-top:30px;padding-left:0;}
.recent_posts{width:50%;float:left;padding-top:30px;padding-left:0;}
.social_commit_img{width:100%;float:none;text-align:center;}
.about_social_commit{width:100%;float:none;}
.life_at_bodhi_box{width:80%;left:10%;top:26%;right:10%;margin:0;}
.home_blog_recent{padding-top:30px;}
.nav_trigger{display:block;}
.navigation{display:none;}
.navigation > li{float:none;list-style:none;padding:5px 0px;text-align:center;}
.navigation > li > a{display:list-item;color:#fff;text-transform:uppercase;font-weight:500;padding:7px 15px;border-bottom:2px solid transparent;-moz-transition:all 0.2s ease-out;-webkit-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;transition:all 0.2s ease-out;position:relative;}
.navigation{background:#00aeef;}
.navigation > li > a:hover{color:#f58220;}
.navigation > li > a.active{background:#fff;color:#00aeef;}
.navigation > li > a.active .nav_border_top{background:#fff;}
.navigation > li > a.active .nav_border_right{background:#fff;}
.navigation > li > a.active .nav_border_bottom{background:#fff;}
.navigation > li > a.active .nav_border_left{background:#fff;}
.logo a{position:static;}
.logo{float:none;position:static;width:100%;}
.nav_wrap{float:none;}
.header{background:#fff;border-bottom:1px solid #00aeef;}
.footer_col2{border:none;}
.team_box{max-width:290px;margin:15px auto 0px auto;}
.job_title ul{padding-left:15px;}
.job_description{border-left:none;}
}
@media only screen and (min-width:400px) and (max-width:767px){}
@media only screen and (max-width:600px){.service_img{width:100%;float:none;}
.service_description{width:100%;padding:0;}
.service_description p{text-align:justify;}
}
@media only screen and (max-width:500px){.old_posts_img{width:100%;float:none;}
.old_posts_content{width:100%;float:none;}
.catgories{width:100%;float:none;padding-top:30px;padding-left:0;}
.recent_posts{width:100%;float:none;padding-top:30px;padding-left:0;}
.banner_links{margin-top:10px;}
.banner_links a{float:none;margin:0 auto;width:200px;height:150px;margin-bottom:10px;}
.banner_link_content img{margin-top:15px;}
.text_rotator_wrap{display:none;}
#banner_wrap{height:490px;}
}
@media only screen and (max-width:400px){.team_img{text-align:center;}
}
@media only screen and (max-width:322px){.life_at_bodhi_box h2{padding-bottom:3px;top:10px;border:none;}
.life_at_bodhi_box h4{top:120px;border:none;}
}
@media only screen and (max-width:285px){.team_details{height:auto;}
}
#flex_seek_bar{width:0px;height:5px;background-color:#0863bd;}
.port_folio_outer img{width:100%;}
.port_row:before,
.port_row:after{content:"";display:table;}
.port_row:after{clear:both;}
.port_col{float:left;width:50%;}
.port_box{position:relative;overflow:hidden;}
.port_overlay{position:absolute;width:100%;height:100%;left:0px;top:0px;background-color:rgba(0, 174, 239, 0.7);opacity:0;-moz-transition:all 0.3s ease-out;-webkit-transition:all 0.3s ease-out;-o-transition:all 0.3s ease-out;transition:all 0.3s ease-out;}
.port_box:hover .port_overlay{opacity:1;}
.port_det{position:absolute;width:100%;left:0;top:50%;margin-top:-40px;color:#FFF;text-align:center;}
.port_det h3{margin:0px 0px 10px 0px;-moz-transition:all 0.2s ease-out;-webkit-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;transition:all 0.2s ease-out;}
.port_det h4{margin:0px 0px 10px 0px;-moz-transition:all 0.2s ease-out;-webkit-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;transition:all 0.2s ease-out;}
.port_det p{display:inline;margin:0px;padding-top:30px;-moz-transition:all 0.2s ease-out;-webkit-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;transition:all 0.2s ease-out;}
.port_det a{display:inline-block;width:45px;height:45px;border-radius:50%;background-color:#FFF;color:#333;font-size:21px;line-height:45px;text-align:center;}.port_det a:hover{}
.port_box:hover .port_det p{padding-top:0px;}
@media only screen and (min-width:480px) and (max-width:767px){.port_col_main{float:none;width:100%;}
}
@media only screen and (max-width:479px){.port_col{float:none;width:100%;}
}
.pager_wrap a{display:inline-block;min-width:28px;height:28px;line-height:28px;text-align:center;font-size:15px;float:left;margin-right:7px;background:-o-linear-gradient(#3d3d3d, #7f7f7f);background:-webkit-linear-gradient(#3d3d3d, #7f7f7f);background:-moz-linear-gradient(#3d3d3d, #7f7f7f);background:-ms-linear-gradient(#3d3d3d, #7f7f7f);background:linear-gradient(#3d3d3d, #7f7f7f);color:#FFF;border-radius:5px;-moz-transition:all 0.2s ease-out;-webkit-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;transition:all 0.2s ease-out;}
.pager_wrap span.current{display:inline-block;min-width:28px;height:28px;line-height:28px;text-align:center;font-size:15px;float:left;background-color:#CCC;color:#333;border-radius:5px;margin-right:7px;cursor:not-allowed;}
.pager_wrap a:hover{background:-o-linear-gradient(#000, #000);background:-webkit-linear-gradient(#000, #000);background:-moz-linear-gradient(#000, #000);background:-ms-linear-gradient(#000, #000);background:linear-gradient(#000, #000);}
.recent_post_temp_content h5{line-height:1.42857143;}
.author{padding:5px 15px;text-align:right;background-color:#f9f9f9;margin-top:20px;}
.author i{color:#666;font-size:21px;vertical-align:text-bottom;}
ul.page-numbers{margin:20px 0 10px;width:100%;padding:0;font-size:12px;line-height:normal;clear:both;float:left;}
ul.page-numbers li{float:left;}
ul.page-numbers a,
ul.page-numbers span{border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;background:-webkit-gradient(linear, left top, left bottom, from(#E4E3E3), to(#FFFFFF));background:-moz-linear-gradient(top, #E4E3E3, #FFFFFF);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#E4E3E3', endColorstr='#FFFFFF');padding:3px 4px 2px 4px;margin:2px;text-decoration:none;border:1px solid #ccc;color:#666;}
ul.page-numbers a:hover,
ul.page-numbers span.current{border:1px solid #666;color:#444;}
.main_post_content img{max-width:100% !important;}
.footer_broch_lnks{margin-top:30px;}.footer_broch_lnks a{display:inline-block;width:100%;border:1px solid #FFF;padding:5px 20px;text-align:center;color:#FFF;font-size:15px;font-weight:500;border-radius:5px;-o-transition:all 0.2s ease-out;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;transition:all 0.2s ease-out;}.footer_broch_lnks a:hover{border-color:#d8590c;color:#d8590c;}.footer_broch_lnks a i{font-size:21px;margin-right:7px;vertical-align:sub;}.service_description p{text-align:justify;}